/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2018, 10:46:16 AM
    Author     : Juan Sebastián Reyes
*/

@font-face{
   font-family: intensafuente;
   src: url("../fonts/IntensaFuente.ttf");
 }
 
 @font-face{
   font-family: DryBrush;
   src: url("../fonts/DryBrush.ttf");
 }

/* estilos home */
.img-fondo{
    height: 95vh;
    background-size:cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important ;
    background-attachment: fixed !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt-header{
    color:#fff;
}

body{
    overflow-x: hidden;
    background: #260b29;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    color:#fff;
}
.ubicar-contenido{
    position:relative;
    left:17%;
}
.centrar-elementos{
    display: flex;
    justify-content: center;
}

.centrar-elementos-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider_113_slide01{
  border: 8px solid #fff;   
  margin-right: 1% !important;
 
}
#slider_113_slide02{
  border: 8px solid #fff;
    margin-right: 1% !important;

}
#slider_113_slide03{
  border: 8px solid #fff;
}
#slider_113{
  position: relative;
 bottom: 7rem;
}
.white{
    /*//definir altura seccion servicios//*/
    height: 8rem;
}
/* estilos home */


.figura-derecha{
    background: url(/artquimia/wp-content/uploads/2018/07/brush01.png)  right center no-repeat,
        url(/artquimia/wp-content/uploads/2018/07/brush02.png)  left bottom no-repeat;
    
    z-index: 99999;
    
    
}

.titulo-regiones{
  word-break: break-all;
    font-size: 5rem;
    color: #fff;
    padding: 3vh 5vh 2vh 7vh;
    line-height: 5rem;
    font-weight: 400;
    font-family: intensafuente;
}

blockquote.easy_testimonial *{
    box-sizing: inherit !important;
}
.date{
    display:none !important;
}

.contenedor-servicios{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5%;
        top: 8rem;
}

.easy-t-cycle-controls{
    position: absolute;
    right: 0;
    top: 40%;
    display: flex;
   
    flex-direction: column;
}

.contenido-ser{
    display: flex;
    align-items: center;
}
#ff-stream-1, #ff-stream-1 .ff-popup, #ff-stream-1 .ff-search input
{
    background: transparent !important;
}
.ff-filter-holder:first-child{
    display:none;
}
.ff-stream{
    padding: 0 !important;
}
.ff-stream-wrapper{
    margin: 0 !important;
}

.titulo-ecnico{
    background: #FFCC00;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figura3{
     background: url(/artquimia/wp-content/uploads/2018/07/brush03.png)  right bottom no-repeat;
}

.fondo-galeria{
    background-image: url(/artquimia/wp-content/uploads/2018/08/fondoFotos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wpsm_col-md-4 {
    display:flex !important;
    justify-content:center !important;
    align-items: center !important;
    text-align: initial;
}
#wpsm_counter_b_row_286 .wpsm_counterbox {
   
    display: flex;
    align-items: center;
}
.capa-mapa{
    position: absolute;
    background: rgba(245, 132, 50, 0.25);
    height: 100%;
    width: 100%;
    z-index: 9;
}

.DryBrush{
    font-family: DryBrush;
    margin: 1vh 0vh;
    color: #FFCC00;
    font-size: 3rem;
    font-weight: 400;

 }
#mifooter a{
    color:#fff;
}

.bordederecho{
    border-right: 2px solid #3c3;
}
.menu-footer{
       
        padding: 0 1rem;
}

.newsletter{
    display: flex;
    justify-content: center;
}

.newsletter form{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top:1.2rem;
}
.campo-newsletter{
    background: #a7a9ac;
    border:0px;
    padding: 5px;
    color:#fff;
}

.campo-newsletter::placeholder{
    color:#fff !important;
    padding: 1vh;
}

.env-news{
  background: transparent;
    border: 0px;
    color: #ffcc00;
    font-weight: 200;
    font-size: 1.3rem;
    font-family: DryBrush;
}

.rpc-title{
    color: #000;
}

.rpc-title:hover{
    color: #000;
}
.slick-next{
    right: 49% !important;
}
.slick-prev{
    right: 49% !important;
    left: auto !important;
    z-index: 99999;
    top: 46% !important;

}

.post-style-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev, .slick-next{
        transform: rotate(90deg)!important;
}

.img-servicio{
    position: absolute;
    z-index: -1;
}

.img-servicio2{
    z-index: 33;
}
.cycle-prev{
   height: 2rem;
    width: 2rem;
    
    margin: 0.15rem 0rem;
    background-size: 100%;
    background-image: url(/artquimia/wp-content/uploads/2018/08/atras.png);
}

 .cycle-next{
    height: 2rem;
    width: 2rem;
    margin: 0.15rem 0rem;
    background-size: 100%;
    background-image: url(/artquimia/wp-content/uploads/2018/08/delante.png);
}
.redes-sociales{
    display: flex;
    margin:3rem 0 0 0;
    justify-content: space-between
}

.enlaces{
    display: flex;
    flex-direction:column;
    align-items:center;
}


.txt-enlace{
    color: #99ff00;
    visibility: hidden;
   
    
    
}

.enlaces:hover .txt-enlace {
    visibility: visible;
    text-decoration: underline #9f0!important;
}

.fondo1-mapa{
    position: absolute;
    top: 0rem;
    z-index: 99;
    width: 100%;
}

.fondo2-mapa{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.region-noticias{
    background-image: url(/artquimia/wp-content/uploads/2018/08/brush04.png);
    background-repeat: no-repeat;
    background-position: left 63%;
    
}
.fondo-circular-menu{
     width: 100%;
     height: 11.5rem;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #0f1e00;
     margin-bottom: -5rem;
    position: relative;
    z-index: -2;
    bottom: 6rem;
}

/*  */


.animacion{
 height: 21rem;    
}


.region-historia{
        background-image: url(http://localhost/artquimia/wp-content/uploads/2018/09/fondo-historia.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15rem;
    z-index: 22222222222222;
    position: relative;
}

.carousel-control-prev, .carousel-control-next{
    display: none;
}

.carousel-indicators{
    bottom: -5rem !important;
  
   justify-content: space-around !important;
}

.carousel-indicators li{
  
  background: red !important;
   text-indent: 0 !important;
    height: 1rem !important;
    width: 1rem !important;
   border-radius: 100%; 
   
   
}

.carousel-indicators li.active{
   background: #fff !important;
 }
 .carousel-indicators li.active .fecha-his{
   visibility: visible !important;
 }
.fecha-his{
    width: 2.3rem;
    background: url(http://localhost/artquimia/wp-content/uploads/2018/09/hoverFecha.png);
    background-size: 100%;
    height: 2.3rem;
    background-repeat: no-repeat;
    position: relative;
    left: -7px;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2.5rem;
    color: #33CC33;
    visibility: hidden;
}

.nombre-artquimia{
    margin: 1.5rem 0;
    color: #ED3237;
    font-size: 3.5rem;
    font-family: DryBrush;
    font-weight: 400 !important;
    
    text-align: end;
    
}

.apellido-artquimia{
    margin: 1rem 0;
    margin-bottom: 0.5rem;
    color: #ED3237;
    font-size: 2rem;
    font-weight: 400 !important;
    font-family: intensafuente;
    text-align: end;
  
}
.white{
    height: auto !important;
}

.nice-infobox-title  h4 {
    font-size: 2.3rem;
     font-family: intensafuente;
     color: #7E2726 !important;
     
}

.nice-infobox-content{
    color: #000;
    text-align: left;
    
}
.nice-infoboxes.default-styles [class*='columns-'] {
 padding-right: 1% !important;
 padding-left: 1% !important
   
}

.nice-infobox-thumb{
    display: none;
    transition: 3s;
}

.nice-infobox:hover{
 background: #1cd61c;
 cursor: pointer;
  transition: 2s;
}

.nice-infobox:hover  .nice-infobox-thumb {
     display: block !important;
      transition:3s;
}

.region-valores{
    background-image: url('http://localhost/artquimia/wp-content/uploads/2018/09/backgroundvalores.png'); 
    padding:2rem 0 0 0;
    background-size: cover;
    background-attachment: fixed;
}
